.quotes_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 0;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    
}

.quotes_item a{
    text-decoration: none;
    color: #000;
}

.quotes_item a:hover {
    text-decoration: underline;
}

.quotes_length{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    margin: 0;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    
}